body {
  color: rgb(243, 245, 247);
  font-size: 15px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: rgb(16, 16, 16);
}

a {
  color: #0693e3;
}

h2 {
  font-size: 200%;
  font-weight: 100;
}

h3 {
  font-size: 125%;
  font-weight: 400;
}

.navbar {
  background-color: transparent;
  position: fixed;
}

.navbar a,
.navbar span {
  color: rgb(243, 245, 247);
  font-size: 25px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  float: left;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.navbar span {
  font-weight: 500;
}

.navbar a {
  background:
    linear-gradient(to right,
      #0693e3,
      #9b51e0);
  background-size: 0 3px, 100% 3px;
  background-position: -100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

.navbar a:hover {
  background-size: 100% 2px, 0 3px;
}

.content {
  padding-left: 50px;
  width: 50%;
}

.top {
  width: 60%;
  padding-left: 50px;
  padding-top: 100px;
}

.top h1 {
  font-size: 290%;
  font-weight: 400;
}

.takeaway {
  width: 60%;
  background-color: #0692e303;
  padding: 10px 5px;
  padding-left: 40px;
  margin-left: 50px;
  border-top: 8px solid #0693e3;
  border-radius: 1px;
}

.takeaway h1 {
  font-weight: 200;
}

.takeaway h3 {
  font-size: 120%;
  font-weight: 300;
}

@media screen and (max-width: 850px) {
  .content {
    padding-left: 0;
    width: 98%;
  }

  .top {
    padding-left: 0;
    width: 98%;
  }

  .takeaway {
    padding-left: 5px;
    margin-left: 0;
    width: 98%;
  }
}